.app-header {
  width: 100%;
  border-bottom: 1px solid #dbc7c7;
}

.icon-wrapper {
  width: 30px;
  height: 50px;
  padding: 3px 0px;
  margin: -10px 20px 0 -10px;
}

.icon-wrapper i {
  font-size: 55px;
  color: #808080a6;
  transition: 0.3s;
  cursor: pointer;
}

.icon-wrapper i:hover {
  color: #000000c4;
}

